
<html>
<head>
    <title>
        <%= title%>
    </title>
    <script src="https://kit.fontawesome.com/2f7b1ee6be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div id="container">
        <div id="header" class="border">
         <h1>ToDoApp</h1>
        </div>
    
     </br>
     </br>
     </br>
        <form action="/addtask" method="post">
            <div id="description" class="border">
            <h3>Description</h3>
          <input type="text" name="description" required placeholder="what do you need to do?">
        </div>
          <div id="category-date" class="border">
            <div id="category">
          <h3>Category</h3>
          <select name="category" id="category-dropdown">
            <option>personal</option>
            <option>work</option>
            <option>home</option>
            <option>office</option>
         </select>
            </div>
            <div id="date">
         <h3>Due Date</h3>
         <input type="date" name="date" required >
            </div>
          
         
            
            <div id="add">
                <button type="submit">
                    <a href="#">
                        <i class="fa-solid fa-plus">ADD TASK</i>
                    </a>
                </button>
                
            </div>
          </div>
            
            
        
        </form>
     </br>
     </br>
     </br>
    <div id="showing">
        <ul id="list">
     <% for(let i of todoArray){%>
        <li class="list-iteam">
        <%=i.description%>
        <%=i.category%>
       <%=i.date%>
     </br>
     </br>
     </br>
        <div class="delete-button" id="delete">
            <a href="/delete-contact/?id=<%= i._id %>">
              <i class="fa-sharp fa-solid fa-rectangle-xmark"></i>
            </a>
        </div>
    </li>
        <%}%>
        </ul>
     </div>
  

    </div>
    <script src="/js/home.js"></script>
</body>
</html>